@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: BaseNeutralBig;
  src: url(../assets/fonts/BASENEUETRIAL-CONDEXTBDOBLIQ.TTF);
}
.BaseNeutralBig {
  font-family: BaseNeutralBig;
}

@font-face {
  font-family: BaseNeutralThin;
  src: url(../assets/fonts/BASENEUETRIAL-LIGHT.TTF);
}
.BaseNeutralThin {
  font-family: BaseNeutralThin;
}

@font-face {
  font-family: ImPrisha;
  src: url(../src/assets/fonts/IMPRISHA.TTF);
}
.ImPrisha {
  font-family: ImPrisha;
}

@font-face {
  font-family: PoppinsSemiBold;
  src: url(../src/assets/fonts/POPPINS-SEMIBOLD.TTF);
}
.PoppinsSemiBold {
  font-family: PoppinsSemiBold;
}

@font-face {
  font-family: PoppinsSemiBoldItalic;
  src: url(../src/assets/fonts/POPPINS-SEMIBOLDITALIC.TTF);
}
.PoppinsSemiBoldItalic {
  font-family: PoppinsSemiBoldItalic;
}

@font-face {
  font-family: PoppinsThin;
  src:url(../src/assets/fonts/POPPINS-THINITALIC.TTF);
}
.PoppinsThin {
  font-family: PoppinsThin;
}