@font-face {
  font-family: BaseNeutralBig;
  src: url(../assets/fonts/BASENEUETRIAL-CONDEXTBDOBLIQ.TTF);
}
.BaseNeutralBig{
  font-family: BaseNeutralBig;
}


@font-face {
  font-family: BaseNeutralThin;
  src: url(../assets/fonts/BASENEUETRIAL-LIGHT.TTF);
}
.BaseNeutralThin{
  font-family: BaseNeutralThin;
}